/* @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
  margin: 0;
  padding: 0;
}

html{
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
}

body{
  background-color: ghostwhite;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: 
  "nav    nav"
  "editor message";
  max-height: 100%;
}

nav{
  background-color: #4d167d;
  grid-area: nav;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  font-size: 1.2rem;
}

.ql-editor{
  font-size: 2rem;
}

.editor-container{
  display: grid;
  grid-template-rows: auto 85vh;
  grid-area: editor;
  max-width: 66vw;
}

.message-container{
  display: grid;
  grid-template-rows: 78vh 10vh;
  grid-area: message;
  padding: 1rem;
}

#chat-text{
  display: inline-block;
  word-break: break-word;
  background-color: #ffffff;
  resize: none;
  height: 100%;
  border:1px solid black;
  padding: 0.5rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  overflow-y: scroll;
}

.send{
  margin-top: 1rem;
  padding: 1rem 0;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-gap:1rem
}

#message-box{
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 1rem;
  border: 1px solid rgb(66, 65, 65);
}

#submit{
  background-color: #ffffff;
  color: #64dd17;
  border:2px solid #64dd17;
  border-radius: 1rem;
}

#icon{
  font-size:3rem;
}

.navbar-button{
  border: none;
  height: 4rem;
  width: 8rem;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
}

.navbar-button:hover {background-color: #dbd4d4}

.navbar-button:active{
  transform: scale(0.98);
}

#navbar-title, #navbar-filename{
  cursor: pointer;
  color: ghostwhite;
} */


@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 10px;
    font-family: 'DM Mono', monospace;
}

.wrapper{
    height: 100vh;
    display: grid;
    grid-template-rows: 8% 82% 10%;
    grid-template-areas:
    "header"
    "main"
    "footer";
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

main{
    display: flex;
}

header{
    grid-area: header;
    background-color: coral;
}

.ql-toolbar{
}

#editor{
  display: inline-block;
  word-break: break-word;
  width: 100%;
  height: 100%;
}

.editor-container{
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: aquamarine;
  max-width: 100%;
  font-size: 2rem;
}

.chatbox{
    background-color: aqua;
    width: 50%;
    min-width: 200px;
    max-width: 500px;
}

.messages-container{
    display: inline-block;
    word-break: break-word;
    height: calc(100% - 5rem);
    width: 100%;
    background-color: lightcoral;
    font-size: 2rem;
    overflow-y: scroll;
}

.send-section{
    height: 5rem;
}

footer{
    grid-area: footer;
    background-color: lightpink;
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
}

::-webkit-scrollbar
{
    width: 1rem;
}

::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 5px;
}