@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.ql-container {
  font-size: 20px;
}

*{
  margin: 0;
  padding: 0;
}

html{
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
}

body{
  background-color: ghostwhite;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: 
  "nav    nav"
  "editor message"
  ;
  height: 100vh;
}

nav{
  background-color: #4d167d;
  grid-area: nav;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  font-size: 1.2rem;
}

.editor-container{
  grid-area: editor;
  max-width: 66vw;
}

.message-container{
  display: grid;
  grid-template-rows: 90% 10%;
  grid-area: message;
  padding: 1rem;
}

#chat-text{
  background-color: #ffffff;
  resize: none;
  height: 100%;
  border:1px solid black;
  padding: 0.5rem;
  border-radius: 1rem;
  font-size: 1.5rem;
}

.send{
  margin-top: 1rem;
  padding: 1rem 0;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-gap:1rem
}

#message-box{
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 1rem;
  border: 1px solid rgb(66, 65, 65);
}

#submit{
  background-color: #ffffff;
  color: #64dd17;
  border:2px solid #64dd17;
  border-radius: 1rem;
}

#icon{
  font-size:3rem;
}

.navbar-button{
  border: none;
  height: 4rem;
  width: 8rem;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
}

.navbar-button:hover {background-color: #dbd4d4}

.navbar-button:active{
  transform: scale(0.98);
}

#navbar-title, #navbar-filename{
  cursor: pointer;
  color: ghostwhite;
}
