@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
}

html{
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
}

body{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: 
  "nav    nav"
  "editor message"
  ;
  height: 94vh;
}

nav{
  background-color: #64dd17;
  grid-area: nav;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  font-size: 1.5rem;
}

.editor-container{
  grid-area: editor;
  max-width: 66vw;
}

.message-container{
  display: grid;
  grid-template-rows: 90% 10%;
  grid-area: message;
  padding: 1rem;
}

#chat-text{
  resize: none;
  height: 100%;
  border:1px solid black;
  padding: 0.5rem;
  border-radius: 1rem;
  font-size: 1.5rem;
}

.send{
  margin-top: 1rem;
  padding: 1rem 0;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-gap:1rem
}

#message-box{
  border-radius: 1rem;
  padding: 1rem;
  border: 1px solid rgb(66, 65, 65);
}

#submit{
  padding: 1rem;
  background-color: #64dd17;
  color: white;
  border: none;
  font-size: 1.5rem;
  border-radius: 1rem;
  font-weight: 500;
}

#icon{
  font-size:3rem;
}

#chat{
  background-color:#64dd17;
  border: none;
}

#leave{
  background-color: #E44235;
  border: none;
  padding: 0.7rem;
  display: flex;
  align-items: center;
  border-radius: 1rem;
}




