<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% load static %}

  <link rel="stylesheet" href="{% static '/js/style.css' %}">
  </link>

  <title>RT Chat</title>

</head>

<body>

  <div class="container">
    <div id="keystroke-detector">
      <div id="editor"></div>
    </div>



    <div>
      <textarea class="messages" id="chat-text"></textarea><br>
      <input class="message-box" id="input" type="text"><br>
      <input id="submit" type="button" value="Send">
      <input id="leave" type="button" value="Leave">
      <input id="run" type="button" value="Run">

      <label for="language">Language:</label>
      <select id="language">
        <option value="cpp">C++</option>
        <option value="c">C</option>
        <option value="python">Python 3</option>
      </select>

      <textarea class="output-box" id="output-text"></textarea><br>
      <textarea class="input-box" id="input-text"></textarea><br>

    </div>
  </div>


  {{ room_name|json_script:"room-name" }}
  {{ user_name|json_script:"user-name" }}

  <script src="{% static '/js/ace.js' %}" type="text/javascript" charset="utf-8"></script>
  <script src="{% static '/js/ext-language_tools.js' %}" type="text/javascript" charset="utf-8"></script>
  <script src="{% static '/js/mode-javascript.js' %}" type="text/javascript" charset="utf-8"></script>

  <script src="{% static '/js/client.js' %}" type="text/javascript"></script>


</body>

</html>